body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

hr:not([size]) {
  height: 2px;
}

table {
  margin-top: 3%;
}

.div-overflow{
  overflow: hidden;
}



.navbar-smallscreen {
  position: fixed;
  width: 100%;
  z-index: 3;
  /* background-color: currentColor; */
}

.movbile-nav-flex {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.navbar-smallscreen {
  position: fixed;
  width: 100%;
  z-index: 3;
  /* background-color: currentColor; */
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  background-blend-mode: normal;
  backdrop-filter: blur(15px);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: -87px;
  right: 18px;
  font-size: 80px;
}

.header {
  background-image: url("images/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  /* width: 1440px;*/
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.header-destination {
  background-image: url("images/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  /* width: 1440px;*/
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.header-crew {
  background-image: url("images/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  /* width: 1440px;*/
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.header-tech {
  background-image: url("images/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  /* width: 1440px;*/
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
}

.nav-cust {
  margin: 0;
  padding: 2.5% 0 0 3%;
  width: 100%;
  height: 150px;
}

.logo {
  position: relative;
  top: 26px;
  left: 6px;
  width: 48px;
  height: 48px;
}

.line {
  position: relative;
  /* left: 250px; */
  top: 49px;
  width: 650px;
  height: 2px;
  opacity: 0.2514852;
  background: #ffffff;
  z-index: 1;
}

.nav-container {
  height: 96px;
  /* background: rgba(255,255,255,0.04); */
  background: rgba(131, 186, 255, 0.04);
  background-blend-mode: normal;
  backdrop-filter: blur(30px);
}

.nav-menu {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 19px;
  padding: 2.5% 0 0 10%;
}

.nav-item-cust {
  text-decoration: none;
  color: #ffffff;
  margin: 0 30px 0 30px;
  padding-bottom: 23px;
}

.nav-item-cust:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 3px solid rgba(255, 255, 255, .6);
}

.active {
  border-bottom: 3px solid white;
}

.active-mobile {
  border-right: 4px solid white;
}

.nav-num {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  margin: 0 8px 0 0;
}

.banner {
  margin: 0;
}

.head-text {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 34px;
  font-weight: 400;
  /* line-height: 34px; */
  letter-spacing: 4.725px;
  text-transform: uppercase;
  margin: 0;
}

.space {
  color: #ffffff;
  font-family: Bellefair;
  font-size: 180px;
  font-weight: 400;
  line-height: 180px;
  padding-top: 3%;
  margin: 0;
}

.hero-text {
  padding: 0;
  margin: 0;
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}

.ban-1 {
  padding: 8% 0 0 12%
}

.circle {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  text-align: center;
}

.circle-background {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  left: 332px;
  top: 32px;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.circle-background:hover {
  transform: scale(1.6);
  /* transition: all 0.5s ease-in-out; */
}

.explore {
  font-family: Bellefair;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  top: 138px;

  transition: font-size 1s;
  text-decoration: none;
  color: Black;
  opacity: 0.6;
}
.explore:hover{
  font-size: 35px;
  cursor: pointer;
  color: black;
  opacity: 1;
}


.ban-2 {
  display: flex;
  justify-content: center;
  align-items: end;
}

/*
---------------------destination--------------------------------- */
.destination-moon {
  margin: 0;
}

.destination-moon-number {
  color: #ffffff;
  font-family: "Barlow Condensed";
  font-size: 34px;
  font-weight: 700;
  opacity: 0.25;
  padding-right: 2.5%;
}

.destination-moon-title {
  color: #ffffff;
  font-family: "Barlow Condensed";
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.725px;
  margin: 0;
}

.planet-moon {
  padding: 3% 0 0 12%;
}

.moon-img {
  padding: 10% 0 0 20%;
}

.planet-content {
  padding: 8% 0 0 5%;
}

.planet-list {
  color: #ffffff;
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2.7px;
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  /* border-bottom: 2px solid #fff; */
}

.planet-list:hover {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.planet-main-title {
  color: #ffffff;
  font-family: Bellefair;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 2%;
  margin: 0;
}

.planet-main-content {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5%;
  line-height: 2.1;
  width: 65%;
}

.planet-horizontal-line {
  color: #fff;
  opacity: 0.3;
  width: 50%;
}

.table-title {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.3625px;
}

.table-content {
  color: #ffffff;
  font-family: Bellefair;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.flex-content {
  display: flex;
}

.flex-box-1 {
  padding-right: 85px;
}

.planet1 {
  display: block;
}

.planet2 {
  display: none;
}

.planet3 {
  display: none;
}

.planet4 {
  display: none;
}

.moo {
  display: block;
}

.mar, .eur, .tit {
  display: none;
}

/* ------------------------------crew----------------------------------------- */
.crew-member-00 {
  position: absolute;
  bottom: 0;
  display: block;
}

.crew-member-01 {
  position: absolute;
  bottom: 0;
  display: none;
}

.crew-member-02 {
  position: absolute;
  bottom: 0;
  display: none;
}

.crew-member-03 {
  position: absolute;
  bottom: 0;
  display: none;
}

.crew-content {
  padding: 0 0 0 10%;
}

.crew-title {
  color: #ffffff;
  font-family: "Bellefair-Regular";
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5042492;
  margin: 0;
}

.crew-name {
  color: #ffffff;
  font-family: "Bellefair-Regular";
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5;
}

.crew-about {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  margin: 4% 0 0 0;
  width: 70%;
  line-height: 2;
}

.crew-content-group {
  padding-top: 20%;
}

.flex-points {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

.active-state {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 100%;
  opacity: 0.5;
  margin-right: 2.8%;
}

.active-state:hover {
  cursor: pointer;
}

.current {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 100%;
  opacity: 1;
  margin-right: 2.8%;
}

.crew0, .crew4 {
  display: block;
}

.crew1, .crew2, .crew3, .crew6, .crew5, .crew7 {
  display: none;
}

.crew-about-height {
  height: 130px;
}

/* ----------------------------tech-page------------------------------- */
.tech-group {
  display: flex;
  justify-content: flex-end;
  padding: 8% 0 0 0;
}

.cir {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 28px;
}

.cir:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.tech-content-flex {
  display: flex;
  flex-direction: row;
  padding: 15% 0 0 0;
}

.circle-number {
  font-family: Bellefair;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

.active-circle {
  background-color: white;
  color: #0b0d17;
}

.const-tech-title {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.7px;
  margin: 0;
}

.tech-title {
  color: #ffffff;
  font-family: Bellefair;
  font-size: 62px;
  font-weight: 400;
  margin: 0;
}

.tech-para {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  width: 60%;
  line-height: 2;
}

.technology-maintext{
  padding: 0 0 0 10%;
}

.tech-member-00,.tech-content00{
  display: block;
}

.tech-member-01, .tech-member-02, .tech-content01, .tech-content02{
  display: none;
}








.fadeInBottom{
  animation: fadeInBottom 1s both;
}

.fadeInRight{
  animation: fadeInRight 0.9s both;
}

.fadeInLeft{
   animation: fadeInLeft 0.9s both;
 }


@keyframes fadeInBottom {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}















/* ---------------------media-query----------------------------  */
/* from tablet to laptop */
@media (max-width: 1650px) {
  .nav-menu {
    padding: 8.5% 0 4.53% 13%;
  }

  .nav-item-cust {
    margin: 0 30px 0 0;
  }

  .line {
    width: 450px;
  }

  .space {
    font-size: 160px;
    padding-top: 0;
  }

  .head-text {
    font-size: 29px;
  }

  .hero-text {
    font-size: 19.5px;
  }

  .ban-1 {
    padding: 14% 0 0 12%;
  }

  .circle {
    width: 273px;
    height: 273px;
    top: 321px;
    left: 257px;

  }



  .circle-background {
    width: 273px;
    height: 273px;
    left: 257px;
    top: 48px;
  }

  .explore {
    font-size: 29px;
    top: 121px;
    transition: font-size 1s;
    text-decoration: none;
    color: Black;
    opacity: 0.6;
  }
  .explore:hover{
    font-size: 35px;
    cursor: pointer;
    color: black;
    opacity: 1;
  }



  /* -------------------destination------------------------- */
  .moon-img {
    padding: 10% 0 0 6%;
  }

  .planet-horizontal-line {
    width: 70%;
  }

  .destination-moon-number {
    font-size: 28px;
  }

  .destination-moon-title {
    font-size: 28px;
  }

  .planet-main-content {
    width: 75%;
  }

  /* -------------------crew------------------------- */
  .crew-content-group {
    padding-top: 35%;
  }

  .crew-about {
    width: 100%;
  }

  .crew-content {
    padding: 0 0 0 5%;
  }

/* -------------------------tech----------------------------- */
  .tech-para {
    width: 80%;
  }

  .tech-title{
    font-size: 48px;
  }

  .const-tech-title{
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    background-image: url("images/assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 1020px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header-destination {
    background-image: url("images/assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 1090px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header-crew {
    background-image: url("images/assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header-tech {
    background-image: url("images/assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .line {
    display: none;
  }

  .nav-num {
    display: none;
  }

  .nav-item-cust {
    margin: 0 20px 20px 20px;
    padding-bottom: 32px;
    padding-right: 0;
    padding-left: 0;
  }

  .nav-menu {
    padding: 15% 0 4.53% 2%;
    font-size: 1.05rem;
  }

  .nav-cust {
    padding: 0 0 0 2%;
  }

  .ban-1 {
    padding: 2% 0 0 0;
    margin: auto;
    text-align: center;
  }

  .head-text {
    font-size: 22px;
  }

  .space {
    font-size: 150px;
    padding-top: 0;
  }

  .hero-text {
    font-size: 18px;
  }

  .circle {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
  }

  .circle-background {
    width: 273px;
    height: 273px;
    left: 0px;
    top: -273px;
    margin: auto;
  }

  .ban-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }

  /* --------------------destination------------------------ */
  .destination-moon-number {
    font-size: 24px;
    text-align: left;
  }

  .destination-moon-title {
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
  }

  .moon-img {
    padding: 7% 0 0 0;
    width: 300px;
  }

  .planet-moon {
    text-align: center;
    padding: 0;
  }

  .planet-content {
    text-align: center;
    padding: 8% 0 0 0;
  }

  .planet-list {
    font-size: 16px;
  }

  .planet-main-title {
    font-size: 90px;
  }

  .planet-main-content {
    margin: auto;
  }

  .planet-horizontal-line {
    width: 80%;
    margin-left: 10%;
  }

  .flex-content {
    justify-content: center;
  }

  .moo {
    display: block;
    margin: auto;
  }

  .mar, .eur, .tit {
    display: none;
    margin: auto;
  }

  /* --------------------crew------------------------ */
  .crew-content-group {
    padding-top: 5%;
  }

  .crew-title {
    font-size: 24px;
  }

  .crew-name {
    font-size: 40px;
  }

  .crew-about {
    font-size: 16px;
    margin: auto;
    width: 60%;
  }

  .flex-points {
    margin-top: 3%;
    justify-content: center;
  }

  .active-state {
    height: 10px;
    width: 10px;
  }

  .active-state, .crew-content {
    display: flex;
    justify-content: center;
  }

  .crew-member-00, .crew-member-01, .crew-member-02, .crew-member-03 {
    height: 50%;
  }

/* ----------------------------tech-------------------------------- */

  .tech-para {
    width: 70%;
    margin: auto;
    font-size: 16px;
    line-height: 1.8;
  }

  .tech-title{
    font-size: 40px;
    line-height: 2;
  }

  .const-tech-title{
    font-size: 16px;
    line-height: 2;
  }
  .tech-img{
    width: -webkit-fill-available;
    padding: 5% 0 0;
  }
  .tech-group{
    flex-direction: column;
    padding: 0;

  }

  .buttons-flex{
    display: flex;
    justify-content: center;
    padding-top: 7%;
  }
  .tech-content-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .cir{
    margin: 0 28px 0 0;
    height: 60px;
    width: 60px;
  }

  .circle-number {
    font-size: 22px;
  }

  .technology-maintext {
    padding: 5% 0 0 0;
}
}

@media (max-width: 767px) {
  .small-screen-content {
    padding-top: 25%;
  }

  .header-destination {
    background-image: url("images/assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 1070px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header-crew {
    background-image: url("images/assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 842px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header-tech {
    background-image: url("images/assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 840px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .header {
    background-image: url("images/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    /* width: 1440px;*/
    height: 830px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
  }

  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 0);
  }

  .logo {
    position: relative;
    top: 0;
    left: 0;
  }

  .navbar {
    padding: 1.2rem 0.8rem;
  }

  .nav-menu {
    padding: 0;
  }

  .navbar-nav {
    text-align: center;
    line-height: 3;
  }

  .nav-item-cust {
    margin: 0;
    padding: 0;
  }

  .ban-1 {
    padding: 4% 0 0 0;
    margin: auto;
    text-align: center;
  }

  .head-text {
    font-size: 0.8rem;
  }

  .space {
    font-size: 6rem;
    padding-top: 0;
    line-height: 1.3;
  }

  .hero-text {
    font-size: 0.8rem;
    line-height: 2.5;
  }

  .circle {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 200px;
  }

  .ban-2 {
    padding-top: 10%;
  }

  .explore {
    font-size: 22px;
    top: 86px;
    transition: font-size 1s;
    text-decoration: none;
    color: Black;
    opacity: 0.6;
  }
  .explore:hover{
    font-size: 35px;
    cursor: pointer;
    color: black;
    opacity: 1;
  }

  .nav-menu {
    font-size: 16px;
  }

  /* --------------------destination------------------------ */
  .destination-moon-number {
    font-size: 16px;
    text-align: left;
  }

  .destination-moon-title {
    font-size: 16px;
    text-align: center;
  }

  .moon-img {
    padding: 7% 0 0 0;
    width: 259px;
  }

  .planet-moon {
    text-align: center;
    padding: 0;
  }

  .planet-content {
    text-align: center;
    padding: 8% 0 0 0;
  }

  .planet-list {
    font-size: 14px;
  }

  .planet-main-title {
    font-size: 70px;
  }

  .planet-main-content {
    margin: auto;
    font-size: 16px;
  }

  .planet-horizontal-line {
    width: 80%;
    margin-left: 10%;
  }

  .flex-content {
    justify-content: center;
    flex-direction: column;
  }

  .moo {
    display: block;
    margin: auto;
  }

  .mar, .eur, .tit {
    display: none;
    margin: auto;
  }

  .flex-box-1 {
    padding-right: 0;
  }

  /* --------------------crew------------------------ */
  .crew-content-group {
    padding-top: 5%;
  }

  .crew-title {
    font-size: 16px;
  }

  .crew-name {
    font-size: 24px;
  }

  .crew-about {
    font-size: 15px;
    margin: auto;
    width: 90%;
    padding-top: 2%;
  }

  .flex-points {
    margin-top: 7%;
    justify-content: center;
  }

  .active-state {
    height: 13px;
    width: 13px;
  }

  .active-state {
    display: flex;
    justify-content: center;
  }

  .crew-content {
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .crew-moon-title {
    padding-bottom: 4%;
  }

  .crew-member-00, .crew-member-01, .crew-member-02, .crew-member-03 {
    max-width: 100%;
    height: 100%;
    position: relative;
  }

  .crew-hr {
    background-color: white;
    width: 95%;
    margin: auto;
  }

/* -----------------------tech-------------------------------------------- */

  .tech-para {
    width: 90%;
    margin: auto;
    font-size: 16px;
  }

  .tech-title{
    font-size: 25px;
    line-height: 2;
  }

  .const-tech-title{
    font-size: 16px;
    line-height: 2;
  }
  .tech-img{
    width: -webkit-fill-available;
    padding: 5% 0 0;
  }
  .tech-group{
    flex-direction: column;
    padding: 0;

  }

  .buttons-flex{
    display: flex;
    justify-content: center;
    padding-top: 7%;
  }
  .tech-content-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .cir{
    margin: 0 28px 0 0;
    height: 40px;
    width: 40px;
  }

  .circle-number {
    font-size: 16px;
  }

  .technology-maintext {
    padding: 5% 2% 0 2%;
}
}
